extends layout

block content
  script(src="/javascripts/libs/underscore.js")
  script(src="/javascripts/libs/jquery.js")
  script(src="/javascripts/libs/backbone.js")
  script(src="/javascripts/back_app.js")
  
