extends layout

block content
  script(src="http://underscorejs.org/underscore.js") 
  script(src="http://code.jquery.com/jquery.js") 
  script(src="http://backbonejs.org/backbone.js") 
  script(src="../public/js/back_app.js")
  
